@import "./font.scss";

$font-main: "Poppins", sans-serif;
$text-primary-color: #0f2f64;
$text-secondary-color: #6c81a0;
$text-third-color: #8b98b8;
$text-color: #185fa0;

$background-primary: #185fa0; //
$background-secondary: #e3f0ff; //
